<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>TODOリスト</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <input ref="text"><button v-on:click="save">追加</button>
      <ul>
        <li v-for="(item, index) in todoLists">
          <div v-if="item.isEditable">
            <input v-bind:data="index" v-model="item.text">
            <button v-on:click="update(item)">更新</button>
            <button v-on:click="cancelEdit(item)">キャンセル</button>
          </div>
          <div v-else>
            {{ item.text }}
            <button v-on:click="edit(item)">編集</button>
            <button v-on:click="remove(item)">削除</button>
          </div>

        </li>
      </ul>

    </div>
    <script src="index.js"></script>
  </body>
</html>
