body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  background-color: #F3F6FE;
  color: #2D354E;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  flex-shrink: 0;
  border-radius: 6px;
}

button:hover {
  opacity: 0.5;
}

.button_large {
  width: 100px;
}

.button_small {
  padding: 8px 16px;
}

.button_primary {
  background-color: #65749A;
  color: #FFFFFF;
}

.button_secondary {
  color: #65749A;
}

.button_danger {
  color: #A6132E;
}

input {
  box-sizing: border-box;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
  color: #2D354E;
}

::placeholder {
  color: rgba(45, 53, 78, 0.4);
}

input[type=checkbox] {
  display: none;
}

.checkbox {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 0 40px;
  position: relative;
  width: auto;
  display: flex;
  align-items: center;
}

.checkbox::before {
  background: #FFFFFF;
  border: 2px solid #E6EAF5;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.checkbox::after {
  border-right: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  content: '';
  display: block;
  width: 8px;
  height: 14px;
  left: 7px;
  top: 22px;
  opacity: 0;
  position: absolute;
  transform: rotate(45deg);
}

input[type=checkbox]:checked + .checkbox p {
  opacity: 0.4;
  text-decoration: line-through;
}

input[type=checkbox]:checked + .checkbox::after {
  opacity: 1;
}

input[type=checkbox]:checked + .checkbox::before {
  background: #65749A;
  border: 2px solid #65749A;
}



.input_wrap {
  display: flex;
}

.input_wrap .main_input {
  background-color: #E8EDFA;
  width: 100%;
  height: 56px;
  padding: 0 24px;
  color: #65749A;
}

.input_wrap button {
  margin-left: 16px;
}

.inner {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 80px;
}

ul.todo_lists {
  list-style-type: none;
  padding-left: 0;
}

ul.todo_lists li {
  display: flex;
  align-items: center;
  list-style: none;
  height: 64px;
  min-height: 64px;
  border-radius: 8px;
  margin-bottom: 16px;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 28px rgba(79, 119, 121, 0.05);
  padding: 0 24px;
}

.todo_lists li input {
  width: 100%;
  flex: 1;
}

.todo_lists .text {
  width: 100%;
}

.todo_lists li .show,
.todo_lists li .edit  {
  width: 100%;
  height: 100%;
  display: flex;
}

.button_wrap {
  display: flex;
  flex-shrink: 0;
  padding: 10px 0;
}

.button_wrap button:first-child {
  margin-right: 24px;
}
